/* body{
    background-color: gainsboro
} */

.card{
    height: 100%;
}

.card-footer {
    position: absolute;
    left:40%;
    border: none;
    bottom: 2px;
}

.imageronde{
    display: flex;
    flex-direction: row;
    margin-bottom: 4%;
}

.presentation{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 2%;
}

.fab{
    color: red;
    transition-duration: 0.7s;
}

.fab:hover{
    color:rgb(61, 73, 175)
}

.fab:active{
    color: rgb(156, 190, 32);
}

/* .card{
	filter: grayscale(90%);
	transition: 0.6s ease-in-out;
}


.card:hover{
    filter: grayscale(0);
} */



@media screen and (max-width: 460px){
    .imageronde{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
