body{
    background-color:#A0A0A0;
}

.card{
    height: 100%;
    filter: drop-shadow(0 0 0.75rem white);
    /* effet zoom card */
    transition:  0.3s ease;
}

/* effet zoom card */
.card:hover{
    transform:scale(1.04);
}

.card-footer {
    position: absolute;
    left:40%;
    border: none;
    bottom: 2px;
}

.imageronde{
    display: flex;
    flex-direction: row;
    margin-bottom: 4%;
}

.presentation{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 2%;
}

.fab{
    color: red;
    transition-duration: 0.7s;
}

.fab:hover{
    color:rgb(61, 73, 175)
}

.fab:active{
    color: rgb(156, 190, 32);
}

@media screen and (max-width: 460px){
    .imageronde{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}